::-moz-selection {
    background-color: #988fff;
    color: #fff
}

::selection {
    background-color: #988fff;
    color: #fff
}

::-webkit-input-placeholder {
    color: #777777;
    font-weight: 300
}

:-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300
}

::-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #777777;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #777777;
    font-weight: 300
}

body {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

select {
    display: block
}

figure {
    margin: 0
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

iframe {
    border: 0
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0
}

.card-panel {
    margin: 0;
    padding: 60px
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: 1em;
    line-height: inherit
}

.gray-bg {
    background: #f9f9ff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222
}

h1,
.h1 {
    font-size: 36px
}

h2,
.h2 {
    font-size: 30px
}

h3,
.h3 {
    font-size: 24px
}

h4,
.h4 {
    font-size: 18px
}

h5,
.h5 {
    font-size: 16px
}

h6,
.h6 {
    font-size: 14px;
    color: #222
}

td,
th {
    border-radius: 0px
}

.clear::before,
.clear::after {
    content: " ";
    display: table
}

.clear::after {
    clear: both
}

.fz-11 {
    font-size: 11px
}

.fz-12 {
    font-size: 12px
}

.fz-13 {
    font-size: 13px
}

.fz-14 {
    font-size: 14px
}

.fz-15 {
    font-size: 15px
}

.fz-16 {
    font-size: 16px
}

.fz-18 {
    font-size: 18px
}

.fz-30 {
    font-size: 30px
}

.fz-48 {
    font-size: 48px !important
}

.fw100 {
    font-weight: 100
}

.fw300 {
    font-weight: 300
}

.fw400 {
    font-weight: 400 !important
}

.fw500 {
    font-weight: 500
}

.f700 {
    font-weight: 700
}

.fsi {
    font-style: italic
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-100 {
    margin-top: 100px
}

.mt-120 {
    margin-top: 120px
}

.mt-150 {
    margin-top: 150px
}

.ml-0 {
    margin-left: 0 !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-30 {
    margin-left: 30px
}

.ml-50 {
    margin-left: 50px
}

.mr-0 {
    margin-right: 0 !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-15 {
    margin-right: 15px
}

.mr-10 {
    margin-right: 10px
}

.mr-20 {
    margin-right: 20px
}

.mr-30 {
    margin-right: 30px
}

.mr-50 {
    margin-right: 50px
}

.mb-0 {
    margin-bottom: 0px
}

.mb-0-i {
    margin-bottom: 0px !important
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.pt-0 {
    padding-top: 0px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-120 {
    padding-top: 120px
}

.pt-150 {
    padding-top: 150px
}

.pt-170 {
    padding-top: 170px
}

.pb-0 {
    padding-bottom: 0px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-150 {
    padding-bottom: 150px
}

.pr-30 {
    padding-right: 30px
}

.pl-30 {
    padding-left: 30px
}

.pl-90 {
    padding-left: 90px
}

.p-40 {
    padding: 40px
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.text-italic {
    font-style: italic
}

.text-white {
    color: #fff
}

.text-black {
    color: #000
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.section-full {
    padding: 100px 0
}

.section-half {
    padding: 75px 0
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-rigth {
    text-align: right
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end
}

.flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between
}

.space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.display-table {
    display: table
}

.light {
    color: #fff
}

.dark {
    color: #222
}

.relative {
    position: relative
}

.overflow-hidden {
    overflow: hidden
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.container.fullwidth {
    width: 100%
}

.container.no-padding {
    padding-left: 0;
    padding-right: 0
}

.no-padding {
    padding: 0
}

.section-bg {
    background: #f9fafc
}

@media (max-width: 767px) {
    .no-flex-xs {
        display: block !important
    }
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0
}

.sample-text {
    margin-bottom: 0
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

.typo-list {
    margin-bottom: 10px
}

@media (max-width: 767px) {
    .typo-sec {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .element-wrap {
        margin-top: 30px
    }
}

b,
sup,
sub,
u,
del {
    color: #e88429;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px;
    text-align: left;
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #777
}

.button-area {
    background: #fff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #222;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #222;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #e88429;
    background: transparent;
    border: 1px solid #e88429;
}

.genric-btn.primary:hover {
    color: #fff;
    border: 1px solid #e88429;
    background: #e88429;
}

.genric-btn.primary-border {
    color: #988fff;
    border: 1px solid #988fff;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #988fff;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #222;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #222;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #222;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #988fff
}

@media (max-width: 991px) {
    .progress-table-wrap {
        overflow-x: scroll
    }
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px
}

.list-style {
    width: 14px;
    height: 14px
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #988fff;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #988fff;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list li span {
    font-weight: 300;
    color: #777
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #988fff;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #777
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #988fff;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #777
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #988fff
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #988fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.single-element-widget {
    margin-bottom: 30px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #988fff
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #988fff;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #988fff;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

@media (max-width: 991px) {
    .left-align-p p {
        margin-top: 20px
    }
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #988fff;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #988fff;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.header-top {
    font-size: 12px;
    padding: 8px;
    background-color: #222222
}

.header-top a {
    color: #fff
}

.header-top ul li {
    display: inline-block;
    margin-right: 20px
}

.header-top .header-top-left i {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-top .header-top-left a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-top .header-top-left a:hover i {
    color: #988fff
}

.header-top .header-top-right {
    text-align: right
}

.header-top .header-top-right a {
    margin-right: 10px
}

.header-top .lnr {
    display: none
}

@media (max-width: 588px) {
    .header-top .lnr {
        display: block;
        font-weight: bold;
        font-size: 16px;
        color: #fff
    }
    .header-top .text {
        display: none
    }
}

@media (max-width: 767px) {
    .header-top {
        display: none
    }
}

.top-head-btn {
    background: #988fff;
    padding: 9px 26px
}

.main-menu {
    padding-top: 20px
}

#header {
    padding: 0px 0px 20px 0px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: #fff !important
}

#header.header-scrolled {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s
}

@media (max-width: 673px) {
    #logo {
        margin-left: 20px
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid #988fff
}

#header #logo img {
    padding: 0;
    margin: 0
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px
    }
    #header #logo img {
        max-height: 40px
    }
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9)
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu>li {
    float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    left: 100%
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105"
}

#nav-menu-container {
    margin: 0
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 22px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff
}

.nav-menu ul li {
    transition: 0.3s
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: #988fff
}

.nav-menu ul ul {
    margin: 0
}

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 60px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer
}

@media (max-width: 767px) {
    #mobile-nav-toggle {
        top: 22px
    }
}

#mobile-nav-toggle i {
    color: #222;
    font-weight: 900
}

@media (max-width: 800px) {
    #mobile-nav-toggle {
        display: inline
    }
    #nav-menu-container {
        display: none
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #988fff
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: #988fff
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}

.section-gap {
    padding: 120px 0
}

.section-title {
    padding-bottom: 30px
}

.section-title h2 {
    margin-bottom: 20px
}

.section-title p {
    font-size: 16px;
    margin-bottom: 0
}

@media (max-width: 991.98px) {
    .section-title p br {
        display: none
    }
}

.alert-msg {
    color: #008000
}

.p1-gradient-bg,
.faq-area .faq-left .mn-accordion .state-open .accordion-heading,
.testomial-area {
    background-image: url(../img/foto_04.png);
    background-size: cover;
}

.p1-gradient-color {
    background: -moz-linear-gradient(0deg, #888fff 0%, #ce90ff 100%);
    background: -webkit-linear-gradient(0deg, #888fff 0%, #ce90ff 100%);
    background: -ms-linear-gradient(0deg, #888fff 0%, #ce90ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.p2-gradient-bg,
.discount-section-area .overlay-bg {
    background-image: -moz-linear-gradient(0deg, #f43d6a 0%, #f574dd 100%);
    background-image: -webkit-linear-gradient(0deg, #f43d6a 0%, #f574dd 100%);
    background-image: -ms-linear-gradient(0deg, #f43d6a 0%, #f574dd 100%)
}

.primary-btn {
    background-color: #988fff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative
}

.primary-btn:focus {
    outline: none
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.primary-btn:hover {
    color: #fff
}

.primary-btn:hover span {
    color: #fff;
    right: 20px
}

.primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.primary-btn.white span {
    color: #fff
}

.primary-btn.white:hover {
    background: #fff;
    color: #988fff
}

.primary-btn.white:hover span {
    color: #988fff
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.banner-area {
    background: url(../img/banner-bg.png) center;
    background-size: cover
}

@media (max-width: 767px) {
    .banner-area .fullscreen {
        height: 100% !important;
        width: 109%;
        margin-top: 20%;
        background: rgba(95, 158, 160, 0.16862745098039217);
    }
}

.banner-area .primary-btn {
    padding-left: 30px;
    padding-right: 30px
}

.banner-content {
    text-align: left
}

.banner-content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .banner-content h1 {
        font-size: 40px
    }
}

.banner-content h6 {
    font-weight: 300;
    letter-spacing: 2px;
    z-index: 2;
    color: #fff
}

@media (max-width: 991px) {
    .banner-content h6 {
        margin-top: 80px;
        font-size: 10px
    }
}

.banner-content p {
    max-width: 450px
}

.header-btn {
    background-color: #fff;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
    color: #222
}

.header-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff
}

.banner-img {
    text-align: right
}

@media (max-width: 767px) {
    .banner-img {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
}

.single-service h4 {
    text-align: center;
    padding: 20px 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 17px
}

.single-service:hover {
    cursor: pointer
}

.single-service:hover h4 {
    color: #988fff
}

.single-service .thumb {
    overflow: hidden
}

.single-service .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-service:hover .thumb img {
    transform: scale(1.1) rotate(-2deg)
}

@media (max-width: 960px) {
    .single-service {
        text-align: center;
        margin-bottom: 30px
    }
}

.home-about-area {
    background-color: #f9f9ff
}



.home-about-are:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
    background: url(../img/about-img1.png) no-repeat center;
    z-index: 1
}

@media (max-width: 991px) {
    .home-about-area:after {
        display: none
    }
}

@media (max-width: 991px) {
    .home-about-area .justify-content-end {
        justify-content: flex-start !important
    }
}

.home-about-area h1 {
    margin-bottom: 20px
}

.home-about-area .home-about-right {
    max-width: 580px;
    padding-right: 36px
}



.home-about-area .single-services {
    margin-top: 10px
}

.home-about-area .single-services h4 {
    margin: 20px 0
}

.home-about-area .single-services .lnr {
    margin-top: 30px;
    font-size: 30px;
    color: #988fff
}

@media (max-width: 414px) {
    .home-about-area .single-services p {
        font-size: 12px;
        width: 88%
    }
}

.discount-section-area {
    background: url(../img/foto_06.png) center;
    background-size: cover
}

.discount-section-area .overlay-bg {
    opacity: .5
}

.discount-section-area .discount-left p {
    padding: 20px 0
}

.discount-section-area .discount-left .header-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase
}

@media (max-width: 991px) {
    .discount-section-area .discount-left {
        margin-bottom: 50px
    }
}

.discount-section-area .discount-right h4 {
    text-align: center;
    margin-bottom: 15px
}

.discount-section-area .discount-right .form-control {
    padding: 10px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #f6b2d7;
    color: #fff;
    font-size: 13px;
    font-weight: 300
}

.discount-section-area .discount-right .form-control::placeholder {
    color: #fff
}

.discount-section-area .discount-right .form-control:focus {
    box-shadow: none !important
}

.discount-section-area .discount-right .genric-btn {
    font-size: 14px
}

.discount-section-area .discount-right .genric-btn:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff
}

@media (max-width: 991px) {
    .work-process-area .justify-content-around {
        justify-content: center !important
    }
}

.work-process-area .total-work-process {
    padding: 0 30px
}

@media (max-width: 991.98px) {
    .work-process-area .total-work-process {
        padding: 0
    }
}

.work-process-area .single-work-process {
    margin-top: 30px;
    text-align: center
}

@media (max-width: 767.98px) {
    .work-process-area .single-work-process {
        width: 100%
    }
}

.work-process-area .single-work-process .work-icon-box {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 3px;
    border: 1px solid #eee;
    text-align: center;
    position: relative;
}

.work-process-area .single-work-process .work-icon-box span {
    line-height: 118px;
    font-size: 42px
}

.work-process-area .single-work-process .caption {
    font-size: 16px;
    margin-top: 20px
}

.work-process-area .work-arrow {
    margin-top: -30px
}

@media (max-width: 1199.98px) {
    .work-process-area .work-arrow img {
        width: 40px;
        height: auto
    }
}

@media (max-width: 991.98px) {
    .work-process-area .work-arrow img {
        width: 25px;
        height: auto
    }
}

@media (max-width: 767.98px) {
    .work-process-area .work-arrow {
        display: none
    }
}

.faq-area .faq-left .mn-accordion .accordion-item {
    margin-bottom: 10px
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-heading {
    position: relative;
    cursor: pointer;
    padding: 12px 25px;
    background-color: #f9f9ff
}

.faq-area .faq-left #accordion2 .accordion-item .accordion-heading {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    padding: 15px 25px;
    border: 1px solid #eee !important
}

.faq-area .faq-left #accordion2 .state-open .accordion-heading {
    border: 1px solid #988fff !important
}

.faq-area .faq-left #accordion2 .state-open .accordion-heading h3 {
    color: #988fff !important
}

.faq-area .faq-left #accordion2 .state-open .accordion-heading .icon i {
    color: #988fff !important
}

.faq-area .faq-left .mn-accordion .state-open .accordion-heading h3 {
    color: #fff !important
}

.faq-area .faq-left .mn-accordion .state-open .accordion-heading .icon i {
    color: #fff !important
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-heading .icon {
    color: #000;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -10px
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-heading .icon i {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    color: #000
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-heading .icon i {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0eg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-heading h3 {
    color: #000;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-content {
    overflow: hidden;
    height: 0;
    color: #333;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: initial;
    background: transparent
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-content p:first-child {
    margin-top: 0
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-content p:last-child {
    margin-bottom: 0
}

.faq-area .faq-left .mn-accordion .accordion-item .accordion-content>* {
    padding: 20px
}

.faq-area .faq-left .mn-accordion .accordion-item.state-open .accordion-heading .icon i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

@media (max-width: 991px) {
    .faq-area .faq-left {
        margin-bottom: 30px
    }
}

.faq-area .feedback-right {
    background: url(../img/video-bg.jpg) center;
    background-size: cover;
    padding: 130px 0
}

.faq-area .feedback-right .play-btn {
    z-index: 2
}

.faq-area .feedback-right .overlay-bg {
    background-color: rgba(0, 0, 0, 0.7)
}

@media (max-width: 960px) {
    .faq-area .feedback-right {
        margin-bottom: 30px
    }
}

.faq-area .skill-area .single-skill {
    text-align: center
}

.faq-area .skill-area .single-skill .skills {
    display: inline-block;
    text-align: center
}

.faq-area .skill-area .single-skill h6 {
    font-weight: 300;
    color: #777;
    margin-top: 20px
}

.faq-area .skill-area .single-skill .perc {
    color: #000 !important
}

@media (max-width: 991px) {
    .faq-area .skill-area .single-skill {
        margin-bottom: 40px
    }
}

.testomial-area .owl-carousel .owl-item img {
    width: 100%;
}

.testomial-area .owl-dots {
    text-align: center;
    bottom: 5px;
    margin-top: 20px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.testomial-area .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.testomial-area .owl-dot.active {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff
}

@media (max-width: 414px) {
    .testomial-area .active-tstimonial-carusel {
        padding: 30px
    }
}

.single-testimonial {
    text-align: center;
    padding: 30px;
    background: #f9f9ff;
    text-align: center;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-testimonial h5 {
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-testimonial .desc {
    padding: 30px 0px;
    text-align: justify;
}

.single-testimonial:hover {
    cursor: pointer;
    background-color: #fff
}

.single-testimonial:hover h5 {
    color: #988fff
}

.single-blog .thumb {
    overflow: hidden;
    margin-top: 20%;
}

.single-blog .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-blog:hover img {
    transform: scale(1.1)
}

.single-blog:hover h5 {
    color: #988fff
}

.single-blog h5 {
    text-transform: uppercase;
    margin-bottom: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px
}

.single-blog a {
    color: #222
}

.single-blog .meta {
    font-weight: 400;
    text-align: left;
    margin-top: 40px
}

@media (max-width: 991px) {
    .single-blog {
        margin-bottom: 30px
    }
}

.single-blog .details-btn {
    border: 1px solid #988fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.single-blog .details-btn .details {
    visibility: hidden;
    opacity: 0;
    margin-left: -53px;
    font-weight: 600;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.single-blog .details-btn:hover {
    width: 140px;
    background: #988fff;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2)
}

.single-blog .details-btn:hover .details {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
    margin-right: 20px
}

.single-blog .details-btn:hover span {
    color: #fff;
    font-weight: 600
}

.brand-wrap {
    padding: 40px 0
}

.brand-wrap .owl-carousel .owl-item img {
    width: auto !important
}

.brand-wrap .single-brand {
    text-align: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.brand-wrap .single-brand:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1
}

.footer-area {
    background: #04091e;
    padding-top: 100px
}

.footer-area .footer-nav li {
    margin-top: 18px
}

.footer-area .footer-nav li a {
    color: #fff
}

.footer-area .footer-nav li a:hover {
    color: #988fff
}

.footer-area .primary-btn {
    background-color: #988fff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative
}

.footer-area .primary-btn:focus {
    outline: none
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-area .primary-btn:hover {
    background-color: #988fff;
    box-shadow: none;
    color: #fff
}

.footer-area .primary-btn:hover span {
    color: #fff;
    right: 20px
}

.footer-area .primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.footer-area .primary-btn.white span {
    color: #fff
}

.footer-area .primary-btn.white:hover {
    background: #fff;
    color: #988fff
}

.footer-area .primary-btn.white:hover span {
    color: #988fff
}

.footer-area h6 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 600
}

.copy-right-text i,
.copy-right-text a {
    color: #988fff
}

.instafeed {
    margin: -5px
}

.instafeed li {
    overflow: hidden;
    width: 25%
}

.instafeed li img {
    margin: 5px
}

.footer-social {
    text-align: right
}

.footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-social a:hover i {
    color: #988fff
}

.footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (max-width: 991.98px) {
    .footer-social {
        text-align: left;
        margin-top: 20px
    }
}

.single-footer-widget {
    color: #fff
}

.single-footer-widget input {
    line-height: 38px;
    border: none;
    background: transparent;
    border: 1px solid #333;
    font-weight: 300;
    color: #777;
    padding-left: 20px;
    width: 80%
}

.single-footer-widget .bb-btn {
    background-color: #988fff;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    cursor: pointer
}

@media (max-width: 960px) {
    .single-footer-widget .nw-btn {
        margin-top: 20px
    }
    .single-footer-widget .newsletter {
        padding-bottom: 40px
    }
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 20px;
    color: #fff;
    font-size: 12px
}

.single-footer-widget .info.valid {
    color: green
}

.single-footer-widget .info.error {
    color: red
}

.single-footer-widget::-moz-selection {
    background-color: #988fff;
    color: #777
}

.single-footer-widget::selection {
    background-color: #988fff;
    color: #777
}

.single-footer-widget::-webkit-input-placeholder {
    color: #777;
    font-weight: 300
}

.single-footer-widget:-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget::-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget:-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

.single-footer-widget::-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

@media (max-width: 991.98px) {
    .single-footer-widget {
        margin-bottom: 70px
    }
}

.single-footer-widget p {
    color: #777
}

.single-footer-widget ul li {
    margin-bottom: 12px
}

.single-footer-widget ul li a {
    color: #777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-footer-widget ul li a:hover {
    color: #988fff
}

.footer-bottom {
    padding-top: 40px;
    margin-top: 20px
}

.footer-text a,
.footer-text i {
    color: #988fff
}

.whole-wrap {
    background-color: #fff
}

.generic-banner {
    margin-top: 60px;
    background-color: #988fff;
    text-align: center
}

.generic-banner .height {
    height: 600px
}

@media (max-width: 767.98px) {
    .generic-banner .height {
        height: 400px
    }
}

.generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px
}

@media (max-width: 991.98px) {
    .generic-banner .generic-banner-content h2 br {
        display: none
    }
}

.generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px
}

@media (max-width: 991.98px) {
    .generic-banner .generic-banner-content p br {
        display: none
    }
}

.generic-content h1 {
    font-weight: 600
}

.about-generic-area {
    background: #fff
}

.about-generic-area p {
    margin-bottom: 20px
}

.white-bg {
    background: #fff
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.switch-wrap {
    margin-bottom: 10px
}

.switch-wrap p {
    margin: 0
}

.link-nav {
    margin-top: 10px;
    margin-bottom: 0px
}

.about-content {
    margin-top: 110px;
    padding: 50px 0px;
    text-align: center
}

@media (max-width: 767px) {
    .about-content {
        margin-top: 70px
    }
}

.about-content h1 {
    font-size: 48px;
    font-weight: 600
}

.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px
}

.about-content .lnr {
    margin: 0px 10px;
    font-weight: 600
}

.single-feedback {
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9ff;
    padding: 30px 25px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-feedback h5 {
    color: #000;
    margin-top: 30px
}

.single-feedback:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(163, 155, 251, 0.3)
}

.single-feedback:hover h5 {
    color: #988fff
}

.contact-page-area {
    background: #f9f9ff
}

.contact-page-area .map-wrap {
    margin-bottom: 120px
}

@media (max-width: 991px) {
    .contact-page-area .map-wrap {
        margin-bottom: 50px
    }
}

.contact-page-area .contact-btns {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    color: #fff;
    margin-bottom: 30px
}

.contact-page-area .contact-btns:hover {
    color: #fff
}

.contact-page-area .form-area input {
    padding: 15px
}

.contact-page-area .form-area input,
.contact-page-area .form-area textarea {
    border-radius: 0;
    font-size: 12px
}

.contact-page-area .form-area textarea {
    height: 190px;
    margin-top: 0px
}

.contact-page-area .form-area .primary-btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.contact-page-area .form-area .primary-btn:hover {
    border: 1px solid #988fff;
    color: #988fff !important
}

.contact-page-area .single-contact-address {
    margin-bottom: 20px
}

.contact-page-area .single-contact-address h5 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px
}

.contact-page-area .single-contact-address .lnr {
    font-size: 30px;
    font-weight: 500;
    color: #988fff;
    margin-right: 30px
}

.blog-home-banner {
    background: url(../img/blog/blog-home-banner.jpg) bottom;
    background-size: cover;
    padding: 130px 0px
}

.blog-home-banner .primary-btn {
    border-radius: 0px;
    background: #fff;
    color: #222;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.blog-home-banner .primary-btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff
}

.blog-home-banner .overlay-bg {
    background: rgba(0, 0, 0, 0.5)
}

.blog-page {
    background: #f9f9ff
}

.blog-header-content h1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 414px) {
    .blog-header-content h1 {
        font-size: 30px
    }
}

.blog-header-content p {
    margin: 20px 0px
}

.top-category-widget-area .single-cat-widget {
    position: relative;
    text-align: center
}

.top-category-widget-area .single-cat-widget .overlay-bg {
    background: rgba(0, 0, 0, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.top-category-widget-area .single-cat-widget img {
    width: 100%
}

.top-category-widget-area .single-cat-widget .content-details {
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    bottom: 0px;
    position: absolute
}

.top-category-widget-area .single-cat-widget .content-details h4 {
    color: #fff
}

.top-category-widget-area .single-cat-widget .content-details span {
    display: inline-block;
    background: #fff;
    width: 60%;
    height: 1%
}

.top-category-widget-area .single-cat-widget:hover .overlay-bg {
    background: rgba(152, 143, 255, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (max-width: 991px) {
    .top-category-widget-area .single-cat-widget {
        margin-bottom: 50px
    }
}

.post-content-area .single-post {
    margin-bottom: 50px
}

.post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px
}

@media (max-width: 767px) {
    .post-content-area .single-post .meta-details {
        text-align: left
    }
}

.post-content-area .single-post .meta-details .tags {
    margin-bottom: 30px
}

.post-content-area .single-post .meta-details .tags li {
    display: inline-block;
    font-size: 14px
}

.post-content-area .single-post .meta-details .tags li a {
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.post-content-area .single-post .meta-details .tags li a:hover {
    color: #988fff
}

@media (max-width: 1024px) {
    .post-content-area .single-post .meta-details {
        margin-top: 0px
    }
}

.post-content-area .single-post .user-name a,
.post-content-area .single-post .date a,
.post-content-area .single-post .view a,
.post-content-area .single-post .comments a {
    color: #777;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.post-content-area .single-post .user-name a:hover,
.post-content-area .single-post .date a:hover,
.post-content-area .single-post .view a:hover,
.post-content-area .single-post .comments a:hover {
    color: #988fff
}

.post-content-area .single-post .user-name .lnr,
.post-content-area .single-post .date .lnr,
.post-content-area .single-post .view .lnr,
.post-content-area .single-post .comments .lnr {
    font-weight: 900;
    color: #222
}

.post-content-area .single-post .feature-img img {
    width: 100%
}

.post-content-area .single-post .posts-title h3 {
    margin: 20px 0px
}

.post-content-area .single-post .excert {
    margin-bottom: 20px
}

.post-content-area .single-post .primary-btn {
    background: #fff !important;
    color: #222 !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0px !important
}

.post-content-area .single-post .primary-btn:hover {
    background: #988fff !important;
    color: #fff !important
}

.blog-pagination {
    padding-top: 60px;
    padding-bottom: 120px
}

.blog-pagination .page-link {
    border-radius: 0
}

.blog-pagination .page-item {
    border: none
}

.page-link {
    background: transparent;
    font-weight: 400
}

.blog-pagination .page-item.active .page-link {
    background-color: #988fff;
    border-color: transparent
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #777;
    border: none
}

.blog-pagination .page-link .lnr {
    font-weight: 600
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
    border-radius: 0
}

.blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #988fff;
    border-color: #eee
}

.widget-wrap {
    background: #fafaff;
    padding: 20px 0px;
    border: 1px solid #eee
}

@media (max-width: 991px) {
    .widget-wrap {
        margin-top: 50px
    }
}

.widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee
}

.widget-wrap .single-sidebar-widget:last-child {
    border-bottom: none;
    margin-bottom: 0px
}

.widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #988fff
}

.widget-wrap .search-widget::-webkit-input-placeholder {
    color: #fff
}

.widget-wrap .search-widget::-moz-placeholder {
    color: #fff
}

.widget-wrap .search-widget:-ms-input-placeholder {
    color: #fff
}

.widget-wrap .search-widget:-moz-placeholder {
    color: #fff
}

.widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #988fff;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px
}

.widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table
}

.widget-wrap .user-info-widget {
    text-align: center
}

.widget-wrap .user-info-widget a h4 {
    margin-top: 40px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-wrap .user-info-widget .social-links li {
    display: inline-block;
    margin-bottom: 10px
}

.widget-wrap .user-info-widget .social-links li a {
    color: #222;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-wrap .user-info-widget .social-links li a:hover {
    color: #988fff
}

.widget-wrap .popular-post-widget .popular-title {
    background: #988fff;
    color: #fff;
    text-align: center;
    padding: 12px 0px
}

.widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px
}

.widget-wrap .popular-post-widget .popular-post-list .thumb img {
    width: 100%
}

.widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px
}

.widget-wrap .popular-post-widget .single-post-list .details {
    margin-left: 12px
}

.widget-wrap .popular-post-widget .single-post-list .details h6 {
    font-weight: 600;
    margin-bottom: 10px
}

.widget-wrap .popular-post-widget .single-post-list .details p {
    margin-bottom: 0px
}

.widget-wrap .ads-widget img {
    width: 100%
}

.widget-wrap .post-category-widget .category-title {
    background: #988fff;
    color: #fff;
    text-align: center;
    padding: 12px 0px
}

.widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-wrap .post-category-widget .cat-list li p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-wrap .post-category-widget .cat-list li a {
    color: #777
}

.widget-wrap .post-category-widget .cat-list li:hover {
    border-color: #988fff
}

.widget-wrap .post-category-widget .cat-list li:hover p {
    color: #988fff
}

.widget-wrap .newsletter-widget .newsletter-title {
    background: #988fff;
    color: #fff;
    text-align: center;
    padding: 12px 0px
}

.widget-wrap .newsletter-widget .col-autos {
    width: 100%
}

.widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px
}

.widget-wrap .newsletter-widget .bbtns {
    background: #988fff;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 0
}

.widget-wrap .newsletter-widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top
}

.widget-wrap .newsletter-widget .input-group-text i {
    color: #ccc;
    margin-top: -1px
}

.widget-wrap .newsletter-widget .form-control {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0px
}

.widget-wrap .newsletter-widget .form-control:focus {
    box-shadow: none;
    border-color: #ccc
}

.widget-wrap .newsletter-widget::-webkit-input-placeholder {
    font-size: 13px;
    color: #ccc
}

.widget-wrap .newsletter-widget::-moz-placeholder {
    font-size: 13px;
    color: #ccc
}

.widget-wrap .newsletter-widget:-ms-input-placeholder {
    font-size: 13px;
    color: #ccc
}

.widget-wrap .newsletter-widget:-moz-placeholder {
    font-size: 13px;
    color: #ccc
}

.widget-wrap .newsletter-widget .text-bottom {
    margin-bottom: 0px
}

.widget-wrap .tag-cloud-widget .tagcloud-title {
    background: #988fff;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 30px
}

.widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-wrap .tag-cloud-widget ul li:hover {
    background: #988fff
}

.widget-wrap .tag-cloud-widget ul li:hover a {
    color: #fff
}

.widget-wrap .tag-cloud-widget ul li a {
    font-size: 12px;
    color: black
}

.single-post-area {
    padding-top: 80px;
    padding-bottom: 80px
}

.single-post-area .meta-details {
    margin-top: 20px !important
}

.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px
}

.single-post-area .social-links li a {
    color: #222;
    padding: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .social-links li a:hover {
    color: #988fff
}

.single-post-area .quotes {
    margin-top: 20px;
    padding: 30px;
    background-color: #fff;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1)
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8)
}

.single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    text-align: center;
    margin-bottom: 50px
}

.comments-area a {
    color: #222
}

.comments-area .comment-list {
    padding-bottom: 30px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px
}

.comments-area .comment-list.left-padding {
    padding-left: 25px
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .date {
    font-size: 13px;
    color: #cccccc
}

.comments-area .comment {
    color: #777777
}

.comments-area .btn-reply {
    background-color: #fff;
    color: #222;
    padding: 8px 30px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.comments-area .btn-reply:hover {
    background-color: #988fff;
    color: #fff
}

.comment-form {
    text-align: center;
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px
}

.comment-form h4 {
    text-align: center;
    margin-bottom: 50px
}

.comment-form .name {
    padding-left: 0px
}

@media (max-width: 991px) {
    .comment-form .name {
        padding-right: 0px
    }
}

.comment-form .email {
    padding-right: 0px
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px
    }
}

.comment-form .form-control {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 13px;
    color: #777777
}

.comment-form .form-control:focus {
    box-shadow: none
}

.comment-form::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form:-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form:-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form .primary-btn {
    border-radius: 0px !important;
    border: 1px solid transparent
}

.comment-form .primary-btn:hover {
    background: transparent;
    border-color: #988fff !important;
    color: #988fff !important;
}
/*--Producto--*/
.producto{
	background:#FFFFFF
	width: 100%;
	min-height: 890px;
	display: block;
	text-align: center;
    background-size: cover;
    
}



/*--Titulo Self Balancing Food--*/
.producto-head h3{
	color:rgba(39,39,39,1.00);
	font-size:400%;
	text-shadow: 1px 1px rgb(50,50,50);
	margin-bottom: 2.5%;
	text-align: center;
}

.pics {   
    margin-top: 5%;
	margin-left: 13.5%;
	align-content: center;
} 
 
.pics img {  
    padding: 15px;  
 	background:rgba(255,255,255,.75);
	box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.39);
	border-radius: 1em;
    top:  0; 
    left: 0 
} 

#slideNav a { border: 1px solid #ccc; background: rgb(200,200,200); text-decoration: none; margin: 0 5px; padding: 3px 5px; border-radius: 20px; }
#slideNav a.activeSlide { background: rgba(226,168,37,1.00);}
#slideNav a:focus { outline: none; }

/*--Titulos SBF--*/
.producto-head h2.SBFgranos{
	color:rgba(39,39,39,1.00);
	font-size:400%;
	text-shadow: 1px 1px rgb(50,50,50);
	margin-bottom: 1%;
	text-align: center;
	top: 50%;
	left: 30.5%;
}

.SBFvegetales{
	color:rgba(39,39,39,1.00);
	font-size:400%;
	text-shadow: 1px 1px rgb(50,50,50);
	margin-bottom: 1%;
	text-align: center;
	top: 50%;
	left: 30.5%;
}

.infoVegetales{
	
	margin-right: 3%;
}

.sbfinstrucciones{
	color: rgba(39,39,39,1.00);
	font-size: 150%;
	margin-top: 3%;
	text-align: right;
	padding-right: 2%;
}

/*--Palabras en amarillo--*/
.producto-head b{
	color: rgba(87, 200, 118, 1.00);
}

.SBFvegetales b{
	color: rgba(87, 200, 118, 1.00);
}
.textoSBF {
	margin-bottom: 2%;
}
.producto-head p{
	color:#000000;
	font-family: "Poppins", sans-serif;
	font-size:100%;
	display: block;
	text-align: justify;
}

.productoinfo-box-sbf{
	background-color: rgba(255, 255, 255, 0.75);
	float:left;
	margin-left:-8%;
	width:260%;
	padding: 1% 3% 2% 6%;
}

.productoinfo-box-kiich{
	background-color: rgba(255, 255, 255, 0.75);
	float:left;
	border-radius: 10px;
	margin-left:-8%;
	width:100%;
	padding: 3% 3% 2.5% 6%;
	box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.39);
}


.productosSBF-box{
	background-color: rgba(255, 255, 255, 0.75);
	float:center;
	width:65%;
	padding: 2em 0em ;
	margin-bottom: 3%;
}

.btn_vermas{
	margin-top: 3%;
}

.beneficios-box{
	background-color: rgba(255, 255, 255, 0);
	float:left;
	border-radius: 10px;
	width:80%;
	padding: 5% 5% 2% 5%;
	box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.39);
	align-content: center;
}

.botonbeneficios{
	background-color: rgba(255, 0, 255);
	
}

.producto-left-grid{
	float:left;
	width:15%;
}

.producto-right-grid{
	float:left;
	width:75%;
}

/* CIRCULO GRANOS */
.sbf-grid{
	margin-top: 2%;
}

.preparacion{
    margin-left: 25%
}

.logo{
    width: 60%;
}

.moregranos {
    display: contents;
}

#amaranto:hover, #amaranto:active {
    content: url(../img/info_amaranto.png);
}

#arroz:hover {
    content: url(../img/info_arroz.png);
}

#avena:hover {
    content: url(../img/info_avena.png);
}

#cebada:hover {
    content: url(../img/info_cebada.png);
}

#frijol:hover {
    content: url(../img/info_frijol.png);
}

#judia:hover {
    content: url(../img/info_judia.png);
}

#quinua:hover {
    content: url(../img/info_quinua.png);
}

#soja:hover {
    content: url(../img/info_soja.png);
}

#sorgo:hover {
    content: url(../img/info_sorgo.png);
}

#ajonjoli:hover {
    content: url(../img/info_ajonjoli.png);
}


/* CIRCULO VEGETALES */


#ajo:hover {
    content: url(../img/info_ajo.png);
}

#almendra:hover {
    content: url(../img/info_almendra.png);
}

#brocoli:hover {
    content: url(../img/info_brocoli.png);
}

#cebolla:hover {
    content: url(../img/info_cebolla.png);
}

#col:hover {
    content: url(../img/info_col.png);
}

#espinaca:hover {
    content: url(../img/info_espinaca.png);
}

#menta:hover {
    content: url(../img/info_menta.png);
}

#nopal:hover {
    content: url(../img/info_nopal.png);
}

#pelodeelote:hover {
    content: url(../img/info_pelo.png);
}

#tomate:hover {
    content: url(../img/info_tomate.png);
}

#vitaminac:hover {
    content: url(../img/info_vitamina.png);
}

#yuca:hover {
    content: url(../img/info_yuca.png);
}

#zanahoria:hover {
    content: url(../img/info_zanahoria.png);
}

.custom-carr{
    width: 82%;
}

.img-responsive {
    width: fit-content;       
}

.custom-btn {
    width: 20%;
    font-size: initial;
}

@media (max-width: 1024px) {
    
    .custom-btn {
        width: 50%;
        font-size: initial;
    }
    .img-responsive {
        width: inherit;
    }
    .home-about-area .home-about-right {
        padding-left: 15px;
        display: inline-grid;
        text-align: justify;
    }
    .custom1 {
        margin-left: 20%;
        /*margin-top: -20%;*/
        display: none;
    }
    .custom-video {
        width: 100%;
        display: -webkit-inline-box;
        padding-top: 15%;
    }
    .productoinfo-box-sbf {
        background-color: rgba(255, 255, 255, 0.75);
        float: left;
        margin-left: -8%;
        /*width: 145%;*/
        padding: 1% 3% 2% 6%;
    }
    .preparacion {
        margin-left: 10%;
    }
    .secado {
        width: 50%;
        margin-top: 4%;
        margin-bottom: 0%;
    }
    .logo{
        width: 20%;
    }
    .granos{
        width: 100%;
        margin-left: 1%;
    }
    .cerrar{
        margin-left: 5%;
        width: 10%;
    }
    .moregranos{
        margin-left: 25%;
        width: 50%;
    }
    .tam{
        width: 40%
    }
    .custom-cont{
        margin-top: 15%;
        margin-left: 25%;
    }
    .custom-form{
        margin-top: 8%;
        margin-left: 28%;
    }
    .custom-carr{
        width: unset;
    }
}

@media (max-width: 500px){
    .secado{
        width: 90%;
        margin-top: 4%;
        margin-bottom: 0%;
    }
    .custom-cont{
        margin-top: 0%;
        margin-left: 0%;
    }
    .custom-form{
        margin-top: 0%;
        margin-left: 0%;
    }
    .custom-carr{
        width: 82%;
    }
    .preparacion {
        margin-left: 0%;
    }
}